[project]
name = "adventofcode"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "pandas>=2.3.3",
    "pandas-stubs==2.3.3.251201",
    "pytest==9.0.2",
    "requests>=2.32.5",
]
